



body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 30px; /* Размер основного шрифта в <p></p>  */
    background-color: #ffffff; /* Цвет фона веб-страницы */
    color: #1a3cd4; /* Цвет основного текста */ 


}
img {
    text-align:center


}
p {
    text-align:center
    
}
h1 {
    color: #1a3cd4; /* Цвет заголовка */
    font-size: 36px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    text-align:center
}


ul {
    color: rgb(7, 37, 207); /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    text-align:center
}


h2 {
    color: rgb(0, 128, 128); /* Цвет заголовка */
    font-size: 36px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    text-align:center
}


h3 {
    color: rgba(135, 10, 184, 0.781); /* Цвет заголовка */
    font-size: 36px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */

}
h4 {
    color: rgb(207, 177, 7); /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    text-align:center

}

@keyframes color-change {
    25% {
      color: rgba(135, 10, 184, 0.781);
    }
  
    50% {
      color: rgb(0, 128, 128);
    }
  
    75% {
      color: rgb(207, 177, 7);

    }
    100% {
        color: rgba(135, 10, 184, 0.781);
        
    }
    
}

h1 {
    animation: color-change 3s infinite;
}
@keyframes color-change {
    0% {
      color: rgb(135, 10, 184);
    }
  
    50% {
      color: rgb(0, 128, 128);
    }
  
    100% {
      color: rgb(207, 177, 7);
    }
}

ul:hover {animation: color-change 3s infinite; }
